<div class="row no-gutters">
    <div class="col-12">
      <div class="login login-bg bg-attachment">
        <div class="overlay bg-attachment">
        </div>
        <div class="pos-center">
          <div class="login-box">
            <h3 class="login-header">Change Password</h3>
            <form [formGroup]="changeForm" (ngSubmit)="ChangePassword()">
              <div class="form-group">
                <label>Old Password:</label> <input type="text" class="form-control" formControlName="OldPassword">
             </div>
              <div class="form-group">
                <label>New Password:</label> <input type="text" class="form-control" formControlName="NewPassword">
         
              </div>
              <div class="form-group">
                <button [disabled]="loading" class="btn btn-rounded btn-theme btn-block">Submit</button>
              </div>
            </form>
            <div *ngIf="success">
              <p> Please check your email for further instructions.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
