
.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: #f4f4f4;
    padding: 0;
}
.accordion-section .panel-default .panel-title{margin-bottom: 0px;}
.accordion-section .panel-default .panel-title a {
    display: block;
   font-style: normal;
    font-size: 17px;
    color: #3ab0e1;
}
.accordion-section .panel-default .panel-title a:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 26px;
    content: "\f056";
   color: #65a4e4;
    float: right;
    margin-top: -4px;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f055";
}
.accordion-section .panel-default .panel-body {
   font-size: 16px;
}

      .mt20{margin-top: 20px;}
      .faq-list{font-size: 15px;}
      .faq-list th{border-top:0px solid #ddd!important;border-bottom: 1px solid #ddd!important;}
      .faq-list thead{    background-color: #f8f9f9;}
      .faq-list td a{    font-weight: 500;color: #566fc9;}
      .faq-list td p{margin-bottom: 0px;}


ul.tree li:hover #category_actions{opacity: 1!important;}
ul.tree li ul li:hover{cursor: pointer;}
ul.tree li ul li:hover #category_actions1{opacity: 1!important;}


    ul.tree {
  margin: 0;
  padding-left: 0px;
  line-height: 2em;
  list-style: none;
/*  background-color: #fff;*/
}
ul.tree li {
  position: relative;
  font-size: 15px;
      margin-bottom: 10px;
}
/*ul li:before {
  position: absolute;
  top: 0;
  left: -15px;
  display: block;
  width: 15px;
  height: 1em;
  content: "";
  border-bottom: 1px dotted #666;
  border-left: 1px dotted #666;
}*/
/* hide the vertical line on the first item */
ul.tree > li:first-child:before {
  border-left: none;
}
/*ul li:after {
  position: absolute;
  top: 1.1em;
  bottom: 1px;
  left: -15px;
  display: block;
  content: "";
  border-left: 1px dotted #666;
}*/

/* hide the lines on the last item */
 ul.tree li:last-child:after {
  display: none;
}

/* inserted via JS  */
.js-toggle-icon {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 14px;
  margin-right: 2px;
 
  line-height: 14px;
  text-align: center;
  cursor: pointer;
 
    color: #fa395c;
  border-radius: 2px;
      font-style: normal;
}

 ul.tree li .cat-link{    font-weight: 500;color: #404fa7;margin-left: 5px;}
 ul.tree li a{color: #495057}



 .label.label-info, .label-info.jvectormap-tip {
    background: #ea65a2;
    color: #fff;
}
.label, .jvectormap-tip {
    padding: 5px 10px 5px;
    font-size: 11px;
    text-transform: capitalize;
    border-radius: 0;
    font-weight: 400;
}
.mr-10 {
    margin-right: 10px !important;
}
.invalid-feedback{
  display:block !important;
  margin-top:0px !important;
}
.error-div{
  height: 30px;
  padding-top:2px;
}

  .modal.left .modal-dialog,
  .modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 420px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
         -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
  }

  .modal.left .modal-content,
  .modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
  }
  
  .modal.left .modal-body,
  .modal.right .modal-body {
    padding: 15px 15px 80px;
  }

/*Left*/
  .modal.left.fade .modal-dialog{
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
         -o-transition: opacity 0.3s linear, left 0.3s ease-out;
            transition: opacity 0.3s linear, left 0.3s ease-out;
  }
  
  .modal.left.fade.in .modal-dialog{
    left: 0;
  }
        
/*Right*/
  .modal.right.fade .modal-dialog {
    right: 0px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
         -o-transition: opacity 0.3s linear, right 0.3s ease-out;
            transition: opacity 0.3s linear, right 0.3s ease-out;
  }
  
  .modal.right.fade.in .modal-dialog {
    right: 0;
    width: 50%;
  }

/* ----- MODAL STYLE ----- */
  .modal-content {
    border-radius: 0;
    border: none;
  }

  .modal-header {
       border-bottom-color: #EEEEEE;
    background-color: #1a9cd4;
    color: #fff;
  }

  .btn-red{background-color: #417ac1!important;color: #fff;padding: 5px 15px;font-size: 12px;font-weight: 600;}
.upload_img{margin-right: 5px;}
.vip-right-info{border-bottom:0px;}
.vip-left-info .contact-det{border-bottom:0px;}