<app-header></app-header>
<link rel="stylesheet" type="text/css"
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="page-wrapper">

  <div class="row m-0">
    <div class="col-md-10">
      <div class="row  vip-title-info">
        <div class="col-md-12 col-sm-12">
          <div class="d-flex">
            <div class="account-title">
              <h4>FAQS</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  <div class="main-content"> -->


  <div class="row vp-desc m-0">
    <div class="col-12 col-sm-3 p-0 vip-left-block">

      <div class="vip-left-info">
        <div class="contact-det">
          <div class="row m-0">
            <div class="col-md-12 p-0">


              
               <ul class="tree">

              <li><label style="font-size: 15px;font-weight:500;cursor: pointer;color: #13a0db" data-toggle="modal"
                    data-target="#myModal1"><span style="font-size:22px;" >+</span> Create Category</label></li>
                <li>
                  <div  id="catname" *ngFor="let faqcategories of faqCategories;let i=index">
                      <a data-toggle="collapse" [attr.data.target]="cat" href="#" class="cat-link">
                        {{faqcategories.CategoryName}}</a>

                        <span style="float: right;">
                          <a href="javascript:void(0)"  (click)=categoryClicked(i)>
                            <img src="assets/img/collapse.png" id="delete-question" class="" style="height:24px;" *ngIf="selectedCategories.indexOf(i) >= 0">
                            <img src="assets/img/expand.png" id="delete-question" class="" style="height:24px;" *ngIf="selectedCategories.indexOf(i) == -1">

                          </a>
                          
                        </span>
                      <span id="category_actions" style="float: right;margin-right: 10px;opacity: 0">
                    <a href="#" data-toggle="modal" data-target="#edit_category"  (click)="SetFaqCategoryValues(i)" >
                      <img src="assets/img/edit.svg" class="upload_img" data-topicid="634" title="Edit"
                        style="height:14px;">
                    </a>
                    <!-- <img src="assets/img/delete-button.svg" id="delete-question" class="" style="height:14px;"> -->
                  </span>
                 
                  <ul style="list-style: disc" *ngIf="selectedCategories.indexOf(i) >= 0">
                    <label
                      style="font-size: 15px;cursor: pointer;color: #13a0db;font-weight: 500;list-style: none;margin-left: -20px;"
                      data-toggle="modal" data-target="#myModal2"> <span style="font-size:22px;color:#13a0db;"
                       >+</span>
                      Create Topic
                    </label>
                    <li *ngFor="let subcategory of faqcategories.SubCategories" id="cat">
                       <a routerLink="/faq" class="cat-link" (click)="SetTopicValues(subcategory)">{{subcategory.CategoryName }}</a>
                       <span id="category_actions1" style="float: right;margin-right: 10px;opacity: 0">
                       <a href="#" data-toggle="modal" data-target="#edit_topic" (click)="SetTopicValues(subcategory)">
                         <img src="assets/img/edit.svg" class="upload_img" data-topicid="634" title="Edit"
                           style="height:14px;">
                       </a>
                       <!-- <img src="assets/img/delete-button.svg" id="delete-question" class="" style="height:14px;"> -->
                     </span>
                    </li>
                  </ul> 
                </div>
              </li>
             </ul> 

            </div>
          </div>
        </div>


      </div>


    </div>

    <div class="col-12 col-sm-9 p-0 vip-right-block">
      <div class="row m-0" style="padding: 15px 5px 0px;">
        <div class="col-md-6">
          <h4 class="category-title" style="font-size: 18px;">{{Cname}}<span *ngIf="Tname!=''"
              style="font-size: 14px;color: #222;letter-spacing: 0.5px;">></span>{{Tname}}</h4>
        </div>
        <div class="col-md-6"><a routerLink="/faq-add/{{Cid}}/{{Tid}}" class="btn btn-sm btn-red pull-right">New</a></div>
      </div>
      <div class="vip-right-info" style="padding: 20px;">
        <table class="table table-hover faq-list">
          <thead>
            <tr>
              <th>Question</th>
              <th>Response</th>
              <th class="text-center" style="width: 15%;">No.of Variants</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let faq of faqs">
              <td><a routerLink="/faq/{{faq.Id}}">{{faq.PrimaryQuestion}}</a>
              <td> {{faq.Response}}</td>
              <td class="text-center"><span class="label label-info mr-10">{{faq.VariantQuestions.length}}</span></td>
            </tr>
            <tr *ngIf="faqs.length==0">
                <td>Not Data Available</td>
            </tr>


            <!--     <tr>
                                                     <td><a href="topic-view.html">How do I find my product key?</a>
                                                    <td>Your product key is located on the receipt page when you purchase or in the Order History section of the website from which you ordered the software. </td>
                                                    <td>4</td>
                                                  </tr>
                                                 <tr>
                                                     <td><a href="topic-view.html">What is the difference between 32-bit and 64-bit Windows?</a>
                                                    <td>The terms 32-bit and 64-bit refer to the way a computer's processor (also called a CPU) handles information. The 64-bit version of Windows handles large amounts of random access memory (RAM) more effectively than a 32-bit system. Not all devices can run the 64-bit versions of Windows.</td>
                                                    <td>4</td>
                                                  </tr>
                                                   <tr>
                                                     <td><a href="topic-view.html">What is the product key?</a>
                                                    <td>A product key is a 25-character code that comes with a Microsoft Office product. The product key allows you to install and activate the Office product on your PC. </td>
                                                    <td>4</td>
                                                  </tr> -->

          </tbody>
        </table>

      </div>

    </div>
  </div>



  <!--  </div> end main content-->


</div><!-- end page wrapper-->

<form class="example-container" [formGroup]="faqCategoryForm" autocomplete="off">
<div class="modal right fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel1">Create Category</h4>
        <button #catClose type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetForm()"><span aria-hidden="true"><img
              src="assets/img/close-2.png"></span></button>

      </div>

      <div class="modal-body">
       
        <input class="form-control ht60" [ngClass]="{'error-input' : (faqCategoryForm.controls['CategoryN'].touched && faqCategoryForm.controls['CategoryN'].invalid)}"  autocorrect="off" autocomplete="off"
                  formControlName="CategoryN"  required>
        <div class="error-div">
          <ng-container *ngIf="faqCategoryForm.controls['CategoryN'].touched && faqCategoryForm.controls['CategoryN'].invalid">
            <div class="invalid-feedback">Category name is empty or invalid</div>
          </ng-container>
          </div>
        <div class="form-group mt20">
          <button id="upload_faq" class="btn btn-red" type="submit" (click)="CreateFaqCategory()" [disabled]="!faqCategoryForm.valid"> Save </button>
        </div>
      </div>

    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal -->
</form>

<form class="example-container" [formGroup]="faqCategoryForm" autocomplete="off">
<div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel2">Create Topic</h4>
        <button #topicClose type="button" class="close" data-dismiss="modal" aria-label="Close"  (click)="resetForm()"><span aria-hidden="true"><img
              src="assets/img/close-2.png"></span></button>

      </div>

      <div class="modal-body">
        
        <input class="form-control ht60" [ngClass]="{'error-input' : (faqCategoryForm.controls['CategoryN'].touched && faqCategoryForm.controls['CategoryN'].invalid)}"  autocorrect="off" autocomplete="off"
                  formControlName="CategoryN"  required>
        <div class="error-div">
          <ng-container *ngIf="faqCategoryForm.controls['CategoryN'].touched && faqCategoryForm.controls['CategoryN'].invalid">
            <div class="invalid-feedback">Topic name is empty or invalid</div>
          </ng-container>
          </div>
        <div class="form-group mt20">
          <button id="upload_faq" class="btn btn-red" (click)="CreateTopic()"  [disabled]="!faqCategoryForm.valid">  Save </button>
        </div>
      </div>

    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal -->
</form>

<form class="example-container" [formGroup]="updateCategoryForm" autocomplete="off">
<div class="modal right fade" id="edit_category" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel1">Edit Category</h4>
        <button #catEditClose type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img
              src="assets/img/close-2.png"></span></button>

      </div>

      <div class="modal-body">
        <input type="text" class="form-control ht60" formControlName="CategoryN">
        <div class="form-group mt20">
          <button id="upload_faq" class="btn btn-red" (click)="UpdateFaqCategory()"> Update </button>
        </div>
      </div>

    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal -->
</form>


<form class="example-container" [formGroup]="updateCategoryForm" autocomplete="off">
<div class="modal right fade" id="edit_topic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel2">Edit Topic</h4>
        <button #topicEditClose type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img
              src="assets/img/close-2.png"></span></button>

      </div>

      <div class="modal-body">
        <input type="text" class="form-control ht60" formControlName="CategoryN">
        <div class="form-group mt20">
          <button id="upload_faq" class="btn btn-red" (click)="UpdateTopic()"> Update </button>
        </div>
      </div>

    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal -->
</form>