
<div [class.hidden]="!show">
    <div class="loader-overlay">
      <div *ngIf="show" class="loader"></div>
    </div>
  </div>
  <div [class.hidden]="!loadingShow">
    <div class="loader-overlay">
        <div *ngIf="loadingShow">
          <div class="d-flex justify-content-center" id="loading-wheel">
            <div class="loading-icon-block" role="status">
                <img src="./assets/img/loading.gif" />
            </div>
          </div>
        </div>
      </div>
    </div>