.hidden {
    visibility: hidden;
  }
  .loader-overlay {
    position: absolute;
    width: 100%;
    z-index: 500000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .loader {
    height: 4px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #FFF;
  }
  .loader:before {
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: #012b72;
    animation: loading 2s linear infinite;
  }
  @keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% {left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
  }
  .loading-img{
    width:80px;
    height:80px;
  }
  .loading-icon-block{
    position: fixed;
    z-index: 10000;
    text-align: center;
    align-items: center;
    top:40%;
  }
  #loading-wheel img{
    width:auto;
    height:100px;
  }
//   .loading-image{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     vertical-align: middle;
//     height: calc(100vh);
//   }