.tabs-left {
    border-bottom: none;
    border-right: 1px solid #ddd;
  }
  
  .tabs-left>li {
    float: none;
   margin:0px;
    
  }
  
  .tabs-left>li.active>a,
  .tabs-left>li.active>a:hover,
  .tabs-left>li.active>a:focus {
    border-bottom-color: #ddd;
    border-right-color: transparent;
    background:#f90;
    border:none;
    border-radius:0px;
    margin:0px;
  }
  .nav-tabs>li>a:hover {
      /* margin-right: 2px; */
      line-height: 1.42857143;
      border: 1px solid transparent;
      /* border-radius: 4px 4px 0 0; */
  }
  .tabs-left>li.active>a::after{content: "";
      position: absolute;
      top: 10px;
      right: -10px;
      border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    
    border-left: 10px solid #f90;
      display: block;
      width: 0;}
      .nav-pills .nav-link{color: #222;background-color: #fff;}

.nav-pills .nav-link.active {
        background-color: #13a0db;
        color: #fff;
    }

.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: #f4f4f4;
    padding: 0;

}

.accordion-section .panel-default .panel-title{margin-bottom: 0px;}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-style: italic;
    font-size: 1.1rem;
    color: #13a0db;
    text-decoration: none;
}
.accordion-section .panel-default .panel-title a:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 2.5rem;
    content: "\f106";
    color: #1f7de2;
    float: right;
    margin-top: -12px;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f107";
}
.accordion-section .panel-default .panel-body {
    font-size: 1rem;
}

.tab-pane p a{font-size: 14px;
    color: #000;}
.tab-pane p a:hover{color:blue;text-decoration: none;}    
.tab-pane p{
border-bottom: 1px dotted #ddd;
padding: 10px 0px;margin-bottom: 0px;}
.tab-pane p:last-child{border-bottom:0px;}

.tab-pane p a:before{
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 1rem;
    content: "\f061";
    color: #13a0db;
    margin-top: -12px;
    margin-right: 10px;
}