<app-header></app-header>
<div class="page-wrapper">
    <div class="main-content">
            <div class="row">
                           <div class="col-md-12">
                               <div class="card vp-top-info">
                                   <div class="title-info">
                                       <div class="row">
                                           <div class="col-md-6 col-sm-12">
                                               <div class="d-flex">
                                                   <div class="account-title"><h4><a routerLink="/contacts" > <i class="icon-arrow-left-circle"></i>&nbsp;Contacts</a> </h4> <h6>Ananda Raju Simhadri</h6></div>
                                               </div>
                                           </div>

                                         <!--   <div class="col-md-2 col-sm-12">
                                             <div class="top-ac-stage-info pull-right">
                                                 <h4 class="details-title">Account Stage</h4>
                                                 <span>not started</span>
                                             </div>                                               
                                           </div>

                                           <div class="col-md-2 col-sm-12">
                                             <div class="top-ac-stage-info pull-right">
                                                 <h4 class="details-title">Account Status</h4>
                                                 <span>NA</span>
                                             </div>                                               
                                           </div>

                                           <div class="col-md-2 col-sm-12">
                                               <p><span class="btn btn-default btn-sm pull-right" data-target="#createContactModal" data-toggle="modal">Add Contact</span></p>
                                           </div> -->
                                       </div>
                                   </div>

                                   <div class="details">
                                       <div class="row m-0">
                                           <div class="col-md-2">
                                              <h4 class="details-title">linkedin</h4>
                                              <p class="details-info"><a href="#" target="_blank">linkedin profile...&nbsp;<i class="icon-share-alt" style="font-size: 12px;"></i> </a>

                                           </p>
                                           </div>
                                           
                                           <div class="col-md-2">
                                             <h4 class="details-title">Account name</h4>
                                             <p class="details-info">S Anand</p>
                                           </div>
                                           <div class="col-md-2">
                                             <h4 class="details-title">Designation</h4>
                                             <p class="details-info">Developer</p>
                                           </div>
                                           <div class="col-md-2">
                                             <h4 class="details-title">Email</h4>
                                             <p class="details-info"><span data-toggle="tooltip"  placement="right" ngbTooltip="anand_simhadri@gmail.com" class="ng-star-inserted">anand_simhadri@...</span></p>

                                            

                                           </div>
                                           <div class="col-md-2">
                                             <h4 class="details-title">Phone number</h4>
                                             <p class="details-info">NA</p>
                                           </div>
                                           <div class="col-md-2">
                                             <h4 class="details-title">Last Contact Date</h4>
                                             <p class="details-info">NA</p>
                                           </div>
                                       </div>
                                       
                                          
                                         
                                   </div>
                               </div>
                           </div>
                       </div>

                       <div class="row vp-desc">
                           <div class="col-12 col-sm-3" style="padding-right:0px;">
                               <div class="contact-information vp-left-info">
                                   <div class="card">
                                       <div class="contact-det">
                                         <h4><!-- <img src="img/target.svg"/> --><span>Contact Info</span></h4>
                                         <div>
                                         <div class="row m-0">
                                           <div class="col-md-12">
                                             <p>Active in 0 sequence</p>
                                             <p>0 time(s) email bounced</p>
                                           </div>
                                           <div class="col-md-12"><h6>Account Name</h6><p>S Anand</p></div>
                                           <div class="col-md-12"><h6>Designation</h6><p>Developer</p></div>
                                           <div class="col-md-12"><h6>Department</h6><p>NA</p></div>
                                           <div class="col-md-12"><h6>Industry</h6><p>Agriculture and Mining</p></div>
                                           <div class="col-md-12"><h6>Email</h6><p><a href="mailto:anand_simhadri@yahoo.co.in">anand_simhadri@yahoo.co.in</a></p></div>
                                           <div class="col-md-12"><h6>Phone number</h6><p>NA</p></div>
                                           <div class="col-md-12"><h6>Last Contact Date</h6><p>NA</p></div>
                                           <div class="col-md-12"><h6>Stage</h6><p>interested</p></div>
                                           <div class="col-md-12"><h6>Contact Owner</h6><p>Mastan Shaik</p></div>
                                            
                                         </div>
                                       </div>
                                       </div>
                                 </div>
                               </div>
                           </div>

                           <div class="col-12 col-sm-9">
                                 <div class="contact-details">
                                    <div class="card">
                                        <ul class="grid-settings d-flex">
                                           <li class="pos-rel">
                                               <nav>
                                                   <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                       <a  class="nav-item nav-link active" data-toggle="tab" href="#con-activity" id="contact-activity" role="tab">Activity (0)</a>
                                                    
                                                       <a  class="nav-item nav-link #focusOnCalls" data-toggle="tab" href="#con-sequences" id="contact-sequences" role="tab">Sequences (0)</a>
                                                       <a class="nav-item nav-link" data-toggle="tab" href="#con-tasks" id="contact-tasks" role="tab">Tasks (0)</a>
                                                       <a  class="nav-item nav-link" data-toggle="tab" href="#con-emails" id="contact-emails" role="tab">Emails (2)</a>
                                                       <a class="nav-item nav-link" data-toggle="tab" href="#con-meetings" id="contact-meetings" role="tab">Meetings (0)</a>
                                                       <a  class="nav-item nav-link" data-toggle="tab" href="#con-notes" id="contact-notes" role="tab">Notes (0)</a>

                                                       <a  class="nav-item nav-link" data-toggle="tab" href="#con-calls" id="contact-calls" role="tab">Calls (0)</a>

                                                       <a  class="nav-item nav-link" data-toggle="tab" href="#con-opportunity" id="contact-opportunity" role="tab">Opportunities (0)</a>


                                                   </div></nav></li></ul>
                                       <div class="tab-content bg-variant-1">

                                            <div  aria-labelledby="contact-activity" class="tab-pane fade show active" id="con-activity" role="tabpanel">
                                               <div class="vp-tab-info">
                                                   <div  class="header">
                                                       <div class="row">
                                                           <div class="col-sm-12"><h5>Activity</h5></div>
                                                       </div>
                                                   </div>
                                                   <div  class="vp-tab-list">
                                                       <p>No data available</p>
                                                   </div>
                                          </div>
                                      </div>
                                     
                                       <div  aria-labelledby="contact-calls" class="tab-pane fade" id="con-calls" role="tabpanel">
                                               <div class="vp-tab-info">
                                                   <div  class="header">
                                                       <div class="row">
                                                           <div class="col-sm-12"><h5>Calls</h5></div>
                                                       </div>
                                                   </div>
                                                   <div class="vp-tab-list">
                                                       <p>No data available</p>
                                                   </div>

                                                   
                                          </div>
                                      </div>

                                      <div  aria-labelledby="contact-tasks" class="tab-pane fade" id="con-tasks" role="tabpanel">
                                               <div class="vp-tab-info">
                                                   <div  class="header">
                                                       <div class="row">
                                                           <div class="col-sm-12"><h5>Tasks</h5></div>
                                                       </div>
                                                   </div>
                                                    <div class="vp-tab-list">
                                                       <p>No data available</p>
                                                   </div>
                                                   
                                          </div>
                                      </div>


                                      <div  aria-labelledby="contact-emails" class="tab-pane fade" id="con-emails" role="tabpanel">
                                               <div class="vp-tab-info">
                                                   <div  class="header">
                                                       <div class="row">
                                                           <div class="col-sm-12"><h5>Emails</h5></div>
                                                       </div>
                                                   </div>
                                                    <div class="vp-tab-list">
                                                       <p>No data available</p>
                                                   </div>
                                                   
                                          </div>
                                      </div>

                                      <div  aria-labelledby="contact-meetings" class="tab-pane fade" id="con-meetings" role="tabpanel">
                                               <div class="vp-tab-info">
                                                   <div  class="header">
                                                       <div class="row">
                                                           <div class="col-sm-12"><h5>Meetings</h5></div>
                                                       </div>
                                                   </div>
                                                    <div class="vp-tab-list">
                                                       <p>No data available</p>
                                                   </div>
                                                   
                                          </div>
                                      </div>

                                       <div  aria-labelledby="contact-notes" class="tab-pane fade" id="con-notes" role="tabpanel">
                                               <div class="vp-tab-info">
                                                   <div  class="header">
                                                       <div class="row">
                                                           <div class="col-sm-12"><h5>Notes</h5></div>
                                                       </div>
                                                   </div>
                                                   <div class="vp-tab-list">
                                                       <p>No data available</p>
                                                   </div>
                                                   
                                          </div>
                                      </div>

                                      <div  aria-labelledby="contact-opportunity" class="tab-pane fade" id="con-opportunity" role="tabpanel">
                                               <div class="vp-tab-info">
                                                   <div  class="header">
                                                       <div class="row">
                                                           <div class="col-sm-12"><h5>Opportunities</h5></div>
                                                       </div>
                                                   </div>
                                                   <div class="vp-tab-list">
                                                       <p>No data available</p>
                                                   </div>
                                                   
                                          </div>
                                      </div>

                                      <div  aria-labelledby="contact-sequences" class="tab-pane fade" id="con-sequences" role="tabpanel">
                                               <div class="vp-tab-info">
                                                   <div  class="header">
                                                       <div class="row">
                                                           <div class="col-sm-12"><h5>Sequences</h5></div>
                                                       </div>
                                                   </div>
                                                   <div class="vp-tab-list">
                                                       <p>No data available</p>
                                                   </div>
                                                   
                                          </div>
                                      </div>


                                      </div>
                                    </div>
                                 </div>
                           </div>
                       </div>      
    </div><!-- end main content-->
</div><!-- end page wrapper-->
 