<app-header></app-header>
<div class="page-wrapper">

  <div class="row m-0">
    <div class="col-md-10">
      <div class="row  vip-title-info">
        <div class="col-md-12 col-sm-12">
          <div class="d-flex">
            <div class="account-title">
              <h4>Add Issue</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  <div class="main-content"> -->

  <form [formGroup]="issueform" (ngSubmit)="submitForm()">
    <div class="row vp-desc m-0">
      <div class="col-12 col-sm-3 p-0 vip-left-block">

        <div class="vip-left-info">
          <div class="contact-det">

            <div class="row m-0">
              <div class="col-md-12">
                <div class="form-group">
                  <h6 class="title">Requestor<span class="text-danger" style="float: none;"> *</span>
                    <!-- <span data-toggle="modal" data-target="#addContactModal" style="float:right;font-weight: 400;text-decoration: underline;cursor: pointer;">New</span> -->
                  </h6>

                  <select class="form-control" formControlName="RequestorIntId"
                    [ngClass]="{ 'is-invalid': submitted &amp;&amp; issueform.controls.RequestorIntId.errors }">
                    <option value="" disabled selected>Select</option>
                    <option *ngFor="let contact of contactsList" [ngValue]="contact.Id">{{contact.RequestorName}}
                    </option>
                  </select>
                  <div *ngIf="submitted &amp;&amp; issueform.controls.RequestorIntId.errors" class="text-danger">
                    <div *ngIf="issueform.controls.RequestorIntId.errors.required">Requestor is required</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="contact-det">

            <div class="row m-0">
              <div class="col-md-12">
                <div class="control-group">
                  <h6 class="title">Category<span class="text-danger" style="float: none;"> *</span></h6>
                  <select class="form-control" formControlName="CategoryIntId"
                    [ngClass]="{ 'is-invalid': submitted &amp;&amp; issueform.controls.CategoryIntId.errors }">
                    <option value="" disabled selected>Select</option>
                    <option *ngFor="let cat of categoryList" [ngValue]="cat.Id">{{cat.CategoryName}}</option>
                  </select>
                  <div *ngIf="submitted &amp;&amp; issueform.controls.CategoryIntId.errors" class="text-danger">
                    <div *ngIf="issueform.controls.CategoryIntId.errors.required">Category is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="control-group">
                  <h6 class="title">Channel<span class="text-danger" style="float: none;"> *</span></h6>
                  <select class="form-control" formControlName="Source"
                    [ngClass]="{ 'is-invalid': submitted &amp;&amp; issueform.controls.Source.errors }">
                    <option value="" disabled selected>Select</option>
                    <option *ngFor="let channel of channelsList" [ngValue]="channel.ChannelName">{{channel.ChannelName}}
                    </option>
                  </select>
                  <div *ngIf="submitted &amp;&amp; issueform.controls.Source.errors" class="text-danger">
                    <div *ngIf="issueform.controls.Source.errors.required">Source is required</div>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="control-group">
                  <h6 class="title">Priority<span class="text-danger" style="float: none;"> *</span></h6>
                  <select class="edit-input form-control" formControlName="Priority"
                    [ngClass]="{ 'is-invalid': submitted &amp;&amp; issueform.controls.Priority.errors }">
                    <option value="" disabled selected>Select</option>
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                  </select>
                  <div *ngIf="submitted &amp;&amp; issueform.controls.Priority.errors" class="text-danger">
                    <div *ngIf="issueform.controls.Priority.errors.required">Priority is required</div>
                  </div>
                </div>
              </div>
            </div>


          </div>

        </div>
      </div>

      <div class="col-12 col-sm-9 p-0 vip-right-block">

        <div class="vip-right-info">

          <div class="block">
            <div class="row mr-0">
              <div class="col-md-1 p-0">
                <img src="assets/img/user-icon.png" class="pull-right" />
              </div>
              <div class="col-md-11">


                <div class="form-group">

                  <h6 class="title">Subject<span class="text-danger" style="float: none;"> *</span></h6>
                  <input type="text" formControlName="Title" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted &amp;&amp; issueform.controls.Title.errors }">
                  <div *ngIf="submitted &amp;&amp; issueform.controls.Title.errors" class="text-danger">
                    <div *ngIf="issueform.controls.Title.errors.required">Subject is required</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="block">
            <div class="row  mr-0">
              <div class="col-md-1 p-0">
                <img src="assets/img/user-icon.png" class="pull-right" />
              </div>
              <div class="col-md-11">
                <h6 class="title">Description<span class="text-danger" style="float: none;"> *</span></h6>
                <textarea rows="15" class="block-desc-area form-control p-10" formControlName="Description"
                  [ngClass]="{ 'is-invalid': submitted &amp;&amp; issueform.controls.Description.errors }"></textarea>
                <div *ngIf="submitted &amp;&amp; issueform.controls.Description.errors" class="text-danger">
                  <div *ngIf="issueform.controls.Description.errors.required">Description is required</div>
                </div>
                <!--   <h6 class="title">Notes</h6>
                                          <textarea rows="5" class="block-desc-area form-control p-10"></textarea> -->
              </div>
            </div>
          </div>

          <div class="vip-submit">
            <button class="btn">Submit as New</button>
            <a [routerLink]="['/issues']" [preserveQueryParams]="true" class="btn add-btn btn-sm ml-10"
              style="background-color:#fff;margin-left:10px;">Back</a>
            <!-- <select type="submit" class="btn">
                                      <option selected>Submit as New</option>
                                      <option>Submit as Open</option>
                                      <option>Submit as Pending</option>
                                      <option>Submit as Solved</option>
                                      </select> -->
          </div>

        </div>

      </div>
    </div>

  </form>

  <!--   </div> end main content-->


</div><!-- end page wrapper-->



<div class="modal fade" id="addContactModal">
  <div class="modal-dialog">
    <div class="modal-content" style="min-width: 500px;
    padding: 20px 40px;">

      <!-- Modal Header -->
      <div class="modal-header" style="border-bottom: 0px;">
        <h4 class="modal-title" style="font-weight: 500;">Add Requestor</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="form-group">
          <div class="row">
            <div class="col-md-4" style="text-align: center;margin-top:5px;font-size: 14px;">
              <label for="Name:">Name</label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control" id="">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4" style="text-align: center;margin-top:5px;font-size: 14px;">
              <label for="Name:">Email</label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control" id="">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4" style="text-align: center;margin-top:5px;font-size: 14px;">
              <label for="Name:">Ph.No</label>
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control" id="">
            </div>
          </div>

        </div>


        <!-- Modal footer -->
        <div class="modal-footer" style="border-top:0px;padding-right: 0px;">

          <button type="button" class="btn btn-primary" style="background-color: #2F3941;
    border: none;
    color: #D8DCDE;padding: 5px 25px;">Save</button>
        </div>

      </div>
    </div>
  </div>
</div>