<app-header></app-header>
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
<div class="page-wrapper">
    <div class="row" style="margin: 20px 0px 0px;">
        <div class="col-md-12 d-flex">
            <h4 class="page-title">Faqs / IT</h4>
        </div>
    </div>
    <div class="main-content">
        <div class="">
            <div class="">

                <div class="row">
                    <div class="col-md-3">
             
                   
                        <!-- Tabs nav -->
                        <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link mb-3 p-3 shadow active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                                <span class="font-weight-bold small text-uppercase">What is Lorem Ispum 1</span></a>
        
                            <a class="nav-link mb-3 p-3 shadow" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
            
                                <span class="font-weight-bold small text-uppercase">What is Lorem Ispum 2</span></a>
        
                            <a class="nav-link mb-3 p-3 shadow" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                              
                                <span class="font-weight-bold small text-uppercase">What is Lorem Ispum 3</span></a>
        
                            <a class="nav-link mb-3 p-3 shadow" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                                
                                <span class="font-weight-bold small text-uppercase">What is Lorem Ispum 4</span></a>
                            </div>
                    </div>
        
        
                    <div class="col-md-9">
                        <!-- Tabs content -->
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade shadow rounded bg-white show active p-3" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                <section class="accordion-section clearfix" aria-label="Question Accordions">
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default">
                                          <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
                                            <h3 class="panel-title">
                                              <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
                                                What are the benefits of Solodev CMS?
                                              </a>
                                            </h3>
                                          </div>
                                          <div id="collapse0" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="heading0">
                                            <div class="panel-body px-3 mb-4">
                                              <p>With Solodev CMS, you and your visitors will benefit from a finely-tuned technology stack that drives the highest levels of site performance, speed and engagement - and contributes more to your bottom line. Our users fell in love with:</p>
                                              <ul>
                                                <li>Light speed deployment on the most secure and stable cloud infrastructure available on the market.</li>
                                                <li>Scalability – pay for what you need today and add-on options as you grow.</li>
                                                <li>All of the bells and whistles of other enterprise CMS options but without the design limitations - this CMS simply lets you realize your creative visions.</li>
                                                <li>Amazing support backed by a team of Solodev pros – here when you need them.</li>
                                              </ul>
                                            </div>
                                          </div>
                                        </div>
                                        
                                        <div class="panel panel-default">
                                          <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
                                            <h3 class="panel-title">
                                              <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                                How easy is it to build a website with Solodev CMS?
                                              </a>
                                            </h3>
                                          </div>
                                          <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                                            <div class="panel-body px-3 mb-4">
                                              <p>Building a website is extremely easy. With a working knowledge of HTML and CSS you will be able to have a site up and running in no time.</p>
                                            </div>
                                          </div>
                                        </div>
                                        
                                        <div class="panel panel-default">
                                          <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                                            <h3 class="panel-title">
                                              <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                                                What is the uptime for Solodev CMS?
                                              </a>
                                            </h3>
                                          </div>
                                          <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                            <div class="panel-body px-3 mb-4">
                                              <p>Using Amazon AWS technology which is an industry leader for reliability you will be able to experience an uptime in the vicinity of 99.95%.</p>
                                            </div>
                                          </div>
                                        </div>
                                        
                                        <div class="panel panel-default">
                                          <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
                                            <h3 class="panel-title">
                                              <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                                                Can Solodev CMS handle multiple websites for my company?
                                              </a>
                                            </h3>
                                          </div>
                                          <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                                            <div class="panel-body px-3 mb-4">
                                              <p>Yes, Solodev CMS is built to handle the needs of any size company. With our Multi-Site Management, you will be able to easily manage all of your websites.</p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>      
                                    </section>
                            </div>
                            
                            <div class="tab-pane fade shadow rounded bg-white p-3" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                <section class="accordion-section clearfix" aria-label="Question Accordions">
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default">
                                          <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
                                            <h3 class="panel-title">
                                              <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
                                                Sales
                                              </a>
                                            </h3>
                                          </div>
                                          <div id="collapse0" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="heading0">
                                            <div class="panel-body px-3 mb-4">
                                              <p>With Solodev CMS, you and your visitors will benefit from a finely-tuned technology stack that drives the highest levels of site performance, speed and engagement - and contributes more to your bottom line. Our users fell in love with:</p>
                                              <ul>
                                                <li>Light speed deployment on the most secure and stable cloud infrastructure available on the market.</li>
                                                <li>Scalability – pay for what you need today and add-on options as you grow.</li>
                                                <li>All of the bells and whistles of other enterprise CMS options but without the design limitations - this CMS simply lets you realize your creative visions.</li>
                                                <li>Amazing support backed by a team of Solodev pros – here when you need them.</li>
                                              </ul>
                                            </div>
                                          </div>
                                        </div>
                                        
                                        <div class="panel panel-default">
                                          <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
                                            <h3 class="panel-title">
                                              <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                                How easy is it to build a website with Solodev CMS?
                                              </a>
                                            </h3>
                                          </div>
                                          <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                                            <div class="panel-body px-3 mb-4">
                                              <p>Building a website is extremely easy. With a working knowledge of HTML and CSS you will be able to have a site up and running in no time.</p>
                                            </div>
                                          </div>
                                        </div>
                                        
                                        <div class="panel panel-default">
                                          <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                                            <h3 class="panel-title">
                                              <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                                                What is the uptime for Solodev CMS?
                                              </a>
                                            </h3>
                                          </div>
                                          <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                            <div class="panel-body px-3 mb-4">
                                              <p>Using Amazon AWS technology which is an industry leader for reliability you will be able to experience an uptime in the vicinity of 99.95%.</p>
                                            </div>
                                          </div>
                                        </div>
                                        
                                        <div class="panel panel-default">
                                          <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
                                            <h3 class="panel-title">
                                              <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                                                Can Solodev CMS handle multiple websites for my company?
                                              </a>
                                            </h3>
                                          </div>
                                          <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                                            <div class="panel-body px-3 mb-4">
                                              <p>Yes, Solodev CMS is built to handle the needs of any size company. With our Multi-Site Management, you will be able to easily manage all of your websites.</p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>      
                                    </section>
                            </div>
                            
                            <div class="tab-pane fade shadow rounded bg-white p-3" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                <section class="accordion-section clearfix" aria-label="Question Accordions">
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default">
                                          <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
                                            <h3 class="panel-title">
                                              <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
                                                Administration
                                              </a>
                                            </h3>
                                          </div>
                                          <div id="collapse0" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="heading0">
                                            <div class="panel-body px-3 mb-4">
                                              <p>With Solodev CMS, you and your visitors will benefit from a finely-tuned technology stack that drives the highest levels of site performance, speed and engagement - and contributes more to your bottom line. Our users fell in love with:</p>
                                              <ul>
                                                <li>Light speed deployment on the most secure and stable cloud infrastructure available on the market.</li>
                                                <li>Scalability – pay for what you need today and add-on options as you grow.</li>
                                                <li>All of the bells and whistles of other enterprise CMS options but without the design limitations - this CMS simply lets you realize your creative visions.</li>
                                                <li>Amazing support backed by a team of Solodev pros – here when you need them.</li>
                                              </ul>
                                            </div>
                                          </div>
                                        </div>
                                        
                                        <div class="panel panel-default">
                                          <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
                                            <h3 class="panel-title">
                                              <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                                How easy is it to build a website with Solodev CMS?
                                              </a>
                                            </h3>
                                          </div>
                                          <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                                            <div class="panel-body px-3 mb-4">
                                              <p>Building a website is extremely easy. With a working knowledge of HTML and CSS you will be able to have a site up and running in no time.</p>
                                            </div>
                                          </div>
                                        </div>
                                        
                                        <div class="panel panel-default">
                                          <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                                            <h3 class="panel-title">
                                              <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                                                What is the uptime for Solodev CMS?
                                              </a>
                                            </h3>
                                          </div>
                                          <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                            <div class="panel-body px-3 mb-4">
                                              <p>Using Amazon AWS technology which is an industry leader for reliability you will be able to experience an uptime in the vicinity of 99.95%.</p>
                                            </div>
                                          </div>
                                        </div>
                                        
                                        <div class="panel panel-default">
                                          <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
                                            <h3 class="panel-title">
                                              <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                                                Can Solodev CMS handle multiple websites for my company?
                                              </a>
                                            </h3>
                                          </div>
                                          <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                                            <div class="panel-body px-3 mb-4">
                                              <p>Yes, Solodev CMS is built to handle the needs of any size company. With our Multi-Site Management, you will be able to easily manage all of your websites.</p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>      
                                    </section>
                            </div>
                            
                            <div class="tab-pane fade shadow rounded bg-white p-3" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                                <section class="accordion-section clearfix" aria-label="Question Accordions">
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default">
                                          <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
                                            <h3 class="panel-title">
                                              <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
                                                Systems
                                              </a>
                                            </h3>
                                          </div>
                                          <div id="collapse0" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="heading0">
                                            <div class="panel-body px-3 mb-4">
                                              <p>With Solodev CMS, you and your visitors will benefit from a finely-tuned technology stack that drives the highest levels of site performance, speed and engagement - and contributes more to your bottom line. Our users fell in love with:</p>
                                              <ul>
                                                <li>Light speed deployment on the most secure and stable cloud infrastructure available on the market.</li>
                                                <li>Scalability – pay for what you need today and add-on options as you grow.</li>
                                                <li>All of the bells and whistles of other enterprise CMS options but without the design limitations - this CMS simply lets you realize your creative visions.</li>
                                                <li>Amazing support backed by a team of Solodev pros – here when you need them.</li>
                                              </ul>
                                            </div>
                                          </div>
                                        </div>
                                        
                                        <div class="panel panel-default">
                                          <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
                                            <h3 class="panel-title">
                                              <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                                How easy is it to build a website with Solodev CMS?
                                              </a>
                                            </h3>
                                          </div>
                                          <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                                            <div class="panel-body px-3 mb-4">
                                              <p>Building a website is extremely easy. With a working knowledge of HTML and CSS you will be able to have a site up and running in no time.</p>
                                            </div>
                                          </div>
                                        </div>
                                        
                                        <div class="panel panel-default">
                                          <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                                            <h3 class="panel-title">
                                              <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                                                What is the uptime for Solodev CMS?
                                              </a>
                                            </h3>
                                          </div>
                                          <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                            <div class="panel-body px-3 mb-4">
                                              <p>Using Amazon AWS technology which is an industry leader for reliability you will be able to experience an uptime in the vicinity of 99.95%.</p>
                                            </div>
                                          </div>
                                        </div>
                                        
                                        <div class="panel panel-default">
                                          <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
                                            <h3 class="panel-title">
                                              <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                                                Can Solodev CMS handle multiple websites for my company?
                                              </a>
                                            </h3>
                                          </div>
                                          <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                                            <div class="panel-body px-3 mb-4">
                                              <p>Yes, Solodev CMS is built to handle the needs of any size company. With our Multi-Site Management, you will be able to easily manage all of your websites.</p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>      
                                    </section>
                            </div>
                        </div>
                    </div>
                </div>
               
              
            </div>
        </div>
    </div>
</div>

