<nav class="navbar navbar-expand-lg navbar-dark bg-theme fixed-top">
  <a class="navbar-brand" href="{{logoClickedUrl}}">
    <img src="assets/img/logo.png" alt="Helpit"  style="height:30px;">
  </a>
  <div id="navbarNavDropdown" class="navbar-collapse collapse">
    
    
    <ul class="navbar-nav ml-auto pc-header navbar-list">
      <li class="nav-item dropdown" *ngIf="auth.getEmailConfig() === 'false'">
        <a *ngIf="auth.isLoggedIn()" class="nav-link dropdown-toggle top-ddmenu" routerLink="/user/profile">
          <i ngbPopover="Mail configuration required" triggers="mouseenter:mouseleave" class="fas fa-envelope text-white" style="font-size: 20px;margin-top: 11px;"></i>
            <span class="dots"></span>
        <!-- <i ngbPopover="Mail configuration required" triggers="mouseenter:mouseleave" class="fas fa-exclamation-circle text-warning cursor-pointer" style="font-size: 34px;margin-top: 11px;">       
        </i>-->
        </a>
      </li>
    
      <li class="nav-item dropdown pc-h-item">
        <a class="pc-head-link dropdown-toggle arrow-none mr-0" data-toggle="dropdown"  role="button" aria-haspopup="false" aria-expanded="false">
          <img src="assets/img/avatar.png" alt="user-image" class="user-avtar" style="margin-right:10px;">
          <!--  <span>
             <span class="user-name">Khaleel S</span>
              <span class="user-desc">Administrator</span>
            </span> -->
           
              <span *ngIf="auth.isLoggedIn()" class="text-center">
                <span class="user-name">{{userInfo.name | titlecase}}</span>
                <span class="user-desc">{{userInfo.role}}</span>
              </span>

         
      </a>
      <div class="dropdown-menu dropdown-menu-right pc-h-dropdown">
          <div class=" dropdown-header">
              <h6 class="text-overflow m-0">Welcome !</h6>
          </div>
          <a href="#" class="dropdown-item">
              <i class="icon-user"></i>
              <span>My Account</span>
          </a>
          <a href="#" class="dropdown-item">
              <i class="icon-settings"></i>
              <span>Settings</span>
          </a>
         
          <a (click)="auth.logout()" class="dropdown-item">
              <i class="icon-power"></i>
              <span>Logout</span>
          </a>
      </div>
        <!-- <a class="nav-link dropdown-toggle top-ddmenu" routerLinkActive="active" href="#" id="navbarDropdownMenuLink"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="profile-circle">
          <span class="profile-title" id="profile-title">
            {{utilities.getShortName(userInfo?.name) | uppercase}}
          </span>
        </div>
   
        </a> -->

        <!-- <a class="pc-head-link dropdown-toggle arrow-none mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
          <img src="assets/img/avatar.png" alt="user-image" class="user-avtar" style="margin-right:10px;">
          <div *ngIf="auth.isLoggedIn()">
              <span class="user-name">Khaleel S</span>
              <span class="user-desc">Administrator</span>
          </div>
      </a> -->

        
        <!-- <div class="dropdown-menu top-dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <div *ngIf="auth.isLoggedIn()" class="text-center">
            <h6 class="mb-0">{{userInfo.name | titlecase}}</h6>
            <span class="custom-role">{{userInfo.role}}</span>
          </div>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/admin/users"><i
              class="fas fa-cog"></i> Settings</a>
   
          <a class="dropdown-item cursor-pointer" (click)="auth.logout()"><i class="fas fa-power-off"></i> Logout</a>

        </div> -->
      </li>
    </ul>
  </div>
</nav>


<!-- /Top Menu Items -->

<!-- Left Sidebar Menu -->
<div class="fixed-sidebar-left" id="sidebar">
  <ul class="nav navbar-nav side-nav nicescroll-bar">
    <!-- <li>
      <a routerLink="/dashboard" routerLinkActive="active"><i class="icon-grid"></i><span class="menu-title">Dashboard</span></a>
    </li> -->
    <!-- <li>
      <a routerLink="/accounts" routerLinkActive="active"><i
          class="fab fa-buffer"></i><span class="menu-title">Accounts</span></a>
    </li> -->
    <li>
      <a routerLink="/issues" routerLinkActive="active"><i
          class="icon-layers"></i><span class="menu-title">Issues</span></a>
    </li>
    <li>
      <a routerLink="/contacts" routerLinkActive="active"><i
          class="icon-notebook"></i><span class="menu-title">Contacts</span></a>
    </li>
    <li>
      <a routerLink="/faq" routerLinkActive="active"><i
          class="icon-social-dropbox"></i><span class="menu-title">Faq</span></a>
    </li>
  
  </ul>
</div>
<!-- /Left Sidebar Menu -->
