<app-header></app-header>
<div class="page-wrapper">




  <div class="row" style="margin: 20px 0px 0px;">
    <div class="col-md-10 d-flex">
      <h4 class="page-title">Contacts</h4>
      <select class="select-filter">
        <option>All</option>
        <option>Today</option>
        <option>This Week</option>
        <option>Next Week</option>
        <option>Over Due</option>
      </select>
    </div>

    <div class="col-md-2">
      <div class="pull-right">
        <a href="#" data-toggle="modal" data-target="#addContactModal" class="add-btn btn-sm">New</a>
        <!-- <button  class="btn btn-sm btn-primary add-btn" type="button" data-toggle="modal" data-target="#addContactModal">New</button> -->
      </div>
    </div>

  </div>


  <div class="main-content">
    <div class="card">
      <div class="card-body">


        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table issues-table table-hover">
          <thead class="thead-light">
            <tr>
              <th style="width:20%">Name</th>
              <th style="width:15%">Status</th>
              <th style="width:25%">Email</th>
              <th style="width:15%">Phone No</th>
              <th style="width:15%">Last Active Date</th>
              <th style="text-align: center;width:10%">Actions</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let contact of contactsList">
              <td>{{contact.RequestorName}} </td>
              <!-- <td>{{contact.Status}}</td> -->
              <td>-</td>
              <td>{{contact.Email}}</td>
              <td>{{contact.PhoneNo}}</td>
              <td>{{contact.CreatedDate * 1000 | date:"yyyy/MM/dd"}}</td>
              <!-- <td><span class="badge badge-soft-primary font-size-11 m-1">Interested</span></td> -->
              <td class="actions">
                <!-- <a href="/contacts" ><i class="icon-eye"></i></a> -->
                <a routerLink="/contacts"><i class="icon-trash"></i></a>
              </td>
            </tr>


          </tbody>
        </table>



      </div>
    </div>
  </div><!-- end main content-->


</div><!-- end page wrapper-->


<div class="modal" id="addContactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="padding: 20px 40px;">

      <!-- Modal Header -->
      <div class="modal-header" style="border-bottom: 0px;">
        <h4 class="modal-title" id="myModalLabel" style="font-weight: 500;">Add Contact</h4>
        <button type="button" class="close" (click)="onReset()" data-dismiss="modal"
          #closeAddContactModal>&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="submitForm()">
          <div class="form-group">
            <div class="row">
              <div class="col-md-4" style="text-align: center;margin-top:5px;font-size: 14px;">
                <label for="Name:">Name</label>&nbsp;<span class="text-danger">*</span>
              </div>
              <div class="col-md-8">
                <!-- <input type="text" class="form-control" id="" formControlName="requestorName"> -->
                <input type="text" class="form-control" formControlName="requestorName" id="requestorName"
                  autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.requestorName.errors }">
                <div *ngIf="submitted && f.requestorName.errors" class="invalid-feedback">
                  <div *ngIf="f.requestorName.errors.required">Name is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-4" style="text-align: center;margin-top:5px;font-size: 14px;">
                <label for="Name:">Email</label>&nbsp;<span class="text-danger">*</span>
              </div>
              <div class="col-md-8">
                <input type="text" class="form-control" formControlName="email" id="email" autocomplete="off"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.pattern">Email is invalid</div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-4" style="text-align: center;margin-top:5px;font-size: 14px;">
                <label for="Name:">Ph.No</label>&nbsp;<span class="text-danger">*</span>
              </div>
              <div class="col-md-8">
                <input type="text" class="form-control" formControlName="phoneNo" id="phoneNo" autocomplete="off"
                  [ngClass]="{ 'is-invalid': submitted && f.phoneNo.errors }">
                <div *ngIf="submitted && f.phoneNo.errors" class="invalid-feedback">
                  <div *ngIf="f.phoneNo.errors.required">Phone No is required</div>
                  <div *ngIf="f.phoneNo.errors.pattern">Phone No is invalid</div>
                  <div *ngIf="f.phoneNo.errors.minLength">Phone No is invalid</div>
                  <div *ngIf="f.phoneNo.errors.maxLength">Phone No is invalid</div>
                  
                  
                </div>
              </div>
            </div>

          </div>

          <!-- Modal footer -->
          <div class="modal-footer" style="border-top:0px;padding-right: 0px;">

            <button type="submit" [disabled]="loading" class="btn btn-primary btn-block" style="background-color: #2F3941;
border: none;color: #D8DCDE;padding: 5px 25px;">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Save</button>

          </div>
        </form>
      </div>
    </div>
  </div>