/* #tabs {
  background: #007b5e;
  color: #eee;
}

#tabs h6.section-title {
  color: #3c415e;
}

#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #3c415e;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 2px solid !important;
  font-size: 12px;
  font-weight: bold;
}

#tabs .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: #3c415e;
  font-size: 12px;
} */


