<nav class="navbar navbar-expand-lg navbar-dark bg-theme fixed-top">

  <span id="toggle_nav_btn" class="toggle-left-nav-btn inline-block mr-20 pull-left"><i class="fa fa-bars"
      id="sbmenu"></i></span>
  <a class="navbar-brand" href="{{logoClickedUrl}}">
    <img src="assets/Images/logo.png" alt="Outwork AI" class="w-100">
  </a>

  <!--   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button> -->
  <div id="navbarNavDropdown" class="navbar-collapse collapse">

    <ul class="navbar-nav  ml-auto">
      <li class="nav-item dropdown" *ngIf="auth.getEmailConfig() === 'false'">
        <a *ngIf="auth.isLoggedIn()" routerLink="/user/profile">
          <i ngbPopover="Mail configuration required" triggers="mouseenter:mouseleave" class="fas fa-envelope text-white" style="font-size: 20px;margin-top: 11px;"></i>
          <span class="dots"></span>
       
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle top-ddmenu" routerLinkActive="active" href="#" id="navbarDropdownMenuLink"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="profile-circle">
            <span class="profile-title" id="profile-title">
              {{utilities.getShortName(userInfo?.name) | uppercase}}
            </span>
          </div>
            <!-- <img src="assets/Images/user3.png"> -->
        </a>
        <div class="dropdown-menu top-dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <div *ngIf="auth.isLoggedIn()" class="text-center">
            <h6 class="mb-0">{{userInfo.name | titlecase}}</h6>
            <span class="custom-role">{{userInfo.role}}</span>
          </div>
          <div class="dropdown-divider"></div>

          <a class="dropdown-item" *ngIf="auth.getRole() == 'admin'" routerLink="/dashboard"><i class="fas fa-home"></i>
            Main site</a>

          <!-- <a class="dropdown-item" *ngIf="auth.getRole() == 'admin'" routerLink="/user/profile"><i
              class="far fa-user"></i> User Profile</a> -->
          <a class="dropdown-item cursor-pointer" (click)="auth.logout()"><i class="fas fa-power-off"></i> Logout</a>

        </div>
      </li>

    </ul>
  </div>
</nav>


<!-- /Top Menu Items -->

<!-- Left Sidebar Menu -->
<div class="fixed-sidebar-left" id="sidebar">
  <ul class="nav navbar-nav side-nav nicescroll-bar">


    <!-- menu.RouterLink.indexOf('admin') !== -1 -->
    <li>
      <a *ngIf="auth.isLoggedIn()" routerLink="/admin/users" routerLinkActive="active"><i
          class="fas fa-users"></i><span class="menu-title">Users</span></a>
    </li>
  </ul>
</div>
<!-- /Left Sidebar Menu -->
