
    <div class="my-login-page">
    <section class="h-100">
      <div class="container h-100">
        <div class="row justify-content-md-center h-100">
          <div class="card-wrapper">
            <div class="brand">
              <img src="assets/img/logo.png" alt="logo">
            </div>
            
            <div class="card fat">
              <div class="card-body">
                <div *ngIf="isSessionExpired" class="alert alert-danger">
                  Your session has expired. Please login again.
                 </div>
                <h4 class="card-title">Login</h4>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                  <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" formControlName="loginId" id="loginId" placeholder="Email Id" autocomplete="off"
                      [ngClass]="{ 'is-invalid': submitted && f.loginId.errors }" >
                    <div *ngIf="submitted && f.loginId.errors" class="invalid-feedback">
                      <div *ngIf="f.loginId.errors.required">LoginId is required</div>
                      <div *ngIf="f.loginId.errors.pattern">Please Enter Valid Username / Email</div>
                    </div>
                  </div>
        
                  <div class="form-group has-icon pos-rel">
                    <!-- <label>Password<a routerLink="/forgot-password" class="float-right">
											Forgot Password?
										</a></label> -->
                    <input [type]="showbutton ? 'text' : 'password'" class="form-control" formControlName="Password" id="Password"
                      autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" maxlength="21" placeholder="*******">
                    <i [class]="showeye ? 'fa fa-eye-slash' : 'fa fa-eye'" (click)="showPassword()"></i>
                    <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
                      <div *ngIf="f.Password.errors.required">Password is required</div>
                    </div>
                    <p class="alert alert-danger" *ngIf="loginForm.controls['Password'].hasError('maxlength')">
                      Password should be less than 20 charachters only
                  </p>
                    <!-- <div *ngIf="submitted && f.password.errors?.minlength">
                      Password should be less than 8 charachters only
                 </div>  -->
                  </div>
                  <p class="error mb-1 text-danger" *ngIf="invalidLogin">Invalid Username/Password</p>
                  
                  <div class="form-group">
                    <div class="custom-checkbox custom-control">
                      <input type="checkbox" name="remember" id="remember" class="custom-control-input">
                      <label for="remember" class="custom-control-label">Remember Me</label>
                    </div>
                  </div>

                
        
                    <div class="form-group m-0">
                      <button [disabled]="loading" class="btn btn-primary btn-block">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Login</button>
                    </div>
 
								<div class="mt-4 text-center">
									Don't have an account? <a routerLink="/register">Register Here</a>
								</div>
               
                </form>
              </div>
            </div>
            <div class="footer">
              
              Copyright &copy; 2020 &mdash; helpit.ai 
            </div>
          </div>
        </div>
      </div>
    </section>
    </div>