<app-header></app-header>
<div class="page-wrapper">
  <form class="example-container" [formGroup]="faqForm" autocomplete="off">
  <div class="row m-0">
    <div class="col-md-12">
      <div class="row  vip-title-info">
        
          <div class="col-md-7">
            <div class="">
              <div class="account-title" style="padding: 10px 0px;">
                <input type="text" class="form-control faq-add-input" [ngClass]="{'error-input' : (faqForm.controls['primaryQ'].touched && faqForm.controls['primaryQ'].invalid)}" placeholder="Question" formControlName="primaryQ"
                  style="border: 0px;padding: 20px 10px;font-size: 20px;background: #e8eaec;">

                  
        <div class="error-div">
          <ng-container *ngIf="faqForm.controls['primaryQ'].touched && faqForm.controls['primaryQ'].invalid">
            <div class="invalid-feedback">Question is empty or invalid</div>
          </ng-container>
          </div>
              </div>
            </div>
          </div>
          <div class="col-md-5" style="text-align: right;margin-top: 18px;">
            <button class="btn btn-sm btn-primary"
              style="background: #417ac1;border-color: #417ac1; font-size: 14px;margin-right: 10px;" (click)="submitQuestion()" [disabled]="!faqForm.valid">Save</button>
            <a routerLink="/faq"><button class="btn btn-sm btn-primary"
                style="    background: #d8d8d8;border-color: #d8d8d8;color: #222; font-size: 14px;">Cancel</button></a>
          </div>

       
      </div>
    </div>
  </div>
  <div class="row vp-desc m-0">
    <div class="col-12 col-sm-6 p-0 vip-left-block">

      <div class="vip-left-info">
        <div class="contact-det">
          <div class="row m-0">
            <h6 style="width:100%; margin-top: 5px;margin-bottom: 20px;">Variants<span id="Add"
                style="float: right;cursor: pointer;font-size: 13px;    color: #13a0db;    border-bottom: 1px dotted #13a0db;" (click)="addClicked()">+
                Add</span></h6>
              
            <div *ngFor="let ticket of t.controls; let i = index" class="list-group list-group-flush faq-variants">
              <div class="list-group-item">
                  <div [formGroup]="ticket" class="form-row">
                      <div class="form-group col-12">
                          <input type="text" formControlName="question" class="form-control" [ngClass]="{ 'is-invalid': submitted && ticket.controls.question.errors }" />
                          <div *ngIf="submitted && ticket.controls.question.errors" class="invalid-feedback">
                              <div *ngIf="ticket.controls.question.errors.required">Name is required</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          </div>
        </div>

      </div>


    </div>

    <div class="col-12 col-sm-6 p-0 vip-right-block">

      <div class="vip-right-info" style="padding: 20px;">
        <h6 class="title">Answer</h6>
        <textarea rows="10" formControlName="answer" [ngClass]="{'error-input' : (faqForm.controls['answer'].touched && faqForm.controls['answer'].invalid)}"  class="block-desc-area form-control p-10"></textarea>
        <div class="error-div">
          <ng-container *ngIf="faqForm.controls['answer'].touched && faqForm.controls['answer'].invalid">
            <div class="invalid-feedback">Answer is empty or invalid</div>
          </ng-container>
          </div>

      </div>

    </div>
  </div>
</form>
  <!--  </div> end main content-->


</div><!-- end page wrapper-->