.faq-variants{width:100%;}
.faq-add-input:focus{box-shadow:none;}
.vip-left-info .contact-det{border-bottom:0px;}
.vip-right-info{border-bottom: 0px;}

.error-div{
    height: 30px;
    padding-top:2px;
  }
  .invalid-feedback{
    display:block !important;
    margin-top:0px !important;
  }