<div class="row no-gutters">
  <div class="col-12">
    <div class="login login-bg bg-attachment">
      <div class="overlay bg-attachment">
      </div>
      <div class="pos-center">
        <div class="login-box">
          <h3 class="login-header">Reset Password</h3>
          <form [formGroup]="ResetForm" (ngSubmit)="onResetSubmit(confirmationSuccessModal)">
            <div class="form-group">
              <label>Password:</label> <input type="password" class="form-control" formControlName="password" id="password"
                autocomplete="off" placeholder="Password">    
                <div class="error-messages">
                    <ng-container *ngFor="let error of error_messages.password">
                      <div class="error-message" *ngIf="ResetForm.get('password').hasError(error.type) && 
                (ResetForm.get('password').dirty || ResetForm.get('password').touched)">
                        {{ error.message }}
                      </div>
                    </ng-container>
                  </div>        
            </div>
           
            <div class="form-group has-icon pos-rel">
              <label>Confirm Password:</label>
              <input type="password" class="form-control" formControlName="confirmpassword" id="pwd"
                autocomplete="off"
                placeholder="Confirm Password">   
                <div class="error-messages">
                    <ng-container *ngFor="let error of error_messages.confirmpassword">
                      <div class="error-message" *ngIf="ResetForm.get('confirmpassword').hasError(error.type) && (ResetForm.get('confirmpassword').dirty || ResetForm.get('confirmpassword').touched)">
                        {{ error.message }}
                      </div>
                    </ng-container>
                  </div>         
            </div>

        
            <div class="form-group">
              <button [disabled]="!ResetForm.valid" class="btn btn-rounded btn-theme btn-block">Reset Password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Success Alert Modal -->
  <ng-template #confirmationSuccessModal>    
      <div class="modal-content">
        <div class="modal-body text-center">
          <div class="confirmation-content">
            <div class="icon confirm text-success">
              <i class="fa fa-check fa-2x"></i>
            </div>
            <h4 class="text-success">Password has been reset successfully..!</h4>
            <button type="button" class="btn btn-theme mr-1" data-toggle="modal"
              data-dismiss="modal" (click)="closeConfirmationModal()">Close</button>
          </div>
        </div>
      </div>    
  </ng-template>
<!-- Success Alert Modal ends here -->