<app-headerwithoutmenu></app-headerwithoutmenu>
<div class="text-center">
    <span class="error-code">404</span>
    <h1>This page doesn't exist</h1>
    <!-- <a class="" *ngIf="auth.isLoggedIn()" [routerLink]="auth.getRole() == 'admin'?['/dashboard/admin']:['/dashboard/member']">More options</a><br/> -->

    <a class="" *ngIf="auth.isLoggedIn()" routerLink="/dashboard">More options</a><br/>
    <a class="" *ngIf="!auth.isLoggedIn()" routerLink="/login">Click here to Login</a>
  </div>