.faq-variants {width: 100%!important;}
.faq-add-input:focus{box-shadow:none;}
.vip-left-info .contact-det{border-bottom:0px;}
.vip-left-info .contact-det .form-control {
  height: 30px;
  font-size: 13px;
  cursor: pointer;
}
.vip-right-info{border-bottom: 0px;}

.faq-add-input {
  cursor: pointer;
}