<app-header></app-header>
<div class="page-wrapper">

    <div class="row m-0">
        <div class="col-md-10">
              <div class="row  vip-title-info">
                  <div class="col-md-12 col-sm-12">
                      <div class="d-flex">
                          <div class="account-title"><h4><a href="/issues"> <i class="icon-arrow-left-circle"></i></a>&nbsp; Issue Title</h4></div>
                      </div>
                  </div>
                </div>
              </div>  
    </div>
      
        <!--  <div class="main-content"> -->
                             
          <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
                            <div class="row vp-desc m-0">
                                <div class="col-12 col-sm-3 p-0 vip-left-block">
                                    <!-- <div class="hidden">
                                    <input type="text" formControlName="Id" placeholder="Id" name="Id" class="form-control" id="Id">
                                  </div>  -->
                                    <div class="vip-left-info">
                                      <div class="contact-det">
                                              <div class="row m-0">
                                                 <div class="col-md-12"> 
                                                    <h6  class="title">Requestor</h6>
                                                    <p>{{getControlLabel('RequestorName')}}</p>
                                                    <p class="mb-0">+91 9999999999, sravya@palni.com</p>
                                                </div>
                                              </div>
                                      </div>
                                       <div class="contact-det">
                                               <div class="row m-0">
    
    
                                                   <div class="col-md-12"> 
                                                  <div class="control-group">
                                                    <h6  class="title">Assignee</h6>
                                                    
                                                      <select id="selectinput" class="edit-input form-control">
                                                          <option  disabled="">Select</option>
                                                          <option >Khaleel</option>
                                                          <option selected>Mastan</option>
                                                          <option>Farhad</option>
                                                      </select>
                                                  </div>
                                                </div>
    
                                                 <div class="col-md-12"> 
                                                  <div class="control-group">
                                                    <h6 class="title">Channel<span class="text-danger" style="float: none;"> *</span></h6>
                                                    <select class="form-control" formControlName="Source" >
                                                      <option [ngValue]="">-- select --</option>
                                                      <option  *ngFor="let channel of channelsList" [ngValue]="channel.ChannelName" >{{channel.ChannelName}}</option>
                                                  </select> 
                                                  <!-- [ngValue]="channel.Id" -->
                                                  <!-- <div *ngIf="submitted &amp;&amp; issueform.controls.Source.errors" class="text-danger">
                                                    <div *ngIf="issueform.controls.Source.errors.required">Channel is required</div>
                                                </div> -->
                                                  </div>
                                                </div>
                                       
                                               
                                                <div class="col-md-6"> 
                                                  <div class="control-group">
                                                    <h6  class="title">Category</h6>
                                                    <select class="form-control" formControlName="CategoryIntId">
                                                      <option [ngValue]="0">-- select --</option>
                                                      <option  *ngFor="let cat of categoryList" [ngValue]="cat.Id">{{cat.CategoryName}}</option>
                                                  </select>
                                                  </div>
                                                </div>
    
                                                <div class="col-md-6"> 
                                                  <div class="control-group">
                                                    <h6  class="title">Priority</h6>
                                                       <select id="selectinput" class="edit-input form-control" formControlName="Priority">
                                                          <option  disabled="">Select Priority</option>
                                                          <option value="Low">Low</option>
                                                          <option value="Medium">Medium</option>
                                                          <option value="High">High</option>
                                                      </select>
                                                  </div>
                                                </div>
    
                                           </div>
                                        </div>
                                        <div class="contact-det">
                                        <div class="row m-0">     
                                              
                                             
                                                 <div class="col-md-12"> 
                                                   <div class="control-group">
                                                  <h6 class="title">Status</h6>
                                                  <select class="form-control" formControlName="IssueStatus">
                                                    <option [ngValue]="">-- select --</option>
                                                    <option  *ngFor="let status of statusList" [value]="status.StatusName">{{status.StatusName}}</option>
                                                </select>
                                                </div>
                                                   </div>
                                               
                                              
                                               
                                              </div>
                                            </div>
                                            </div>
                                    
                                  
                                </div>
    
                                <div class="col-12 col-sm-9 p-0 vip-right-block">
                                    
                                      <div class="vip-right-info">
     
    <div class="block">
      <div class="row mr-0">
         <div class="col-md-1 p-0">
             <img src="assets/img/user-icon.png" class="pull-right" />
         </div>
         <div class="col-md-11">
              <h4 class="title"> {{getControlLabel('Title')}}</h4>
             
               <p>Created on {{getControlLabel('CreatedDate') * 1000  | date:"yyyy/MM/dd"}} by sravya from Palni</p>
         </div>
      </div>
       
    </div>
    
    <div class="block">
     <div class="row  mr-0">
         <div class="col-md-1 p-0">
             <img src="assets/img/user-icon.png" class="pull-right" />
         </div>
         <div class="col-md-11">
           <h6 class="title">Description</h6>
          <textarea rows="5" class="block-desc-area form-control p-10" formControlName="Description" ></textarea>
           <br>
            <h6 class="title">Resolution Notes</h6>
          <textarea rows="5" class="block-desc-area form-control p-10" formControlName="ResolutionNotes" ></textarea>
           </div>
         </div>
    </div>
    
                                        
                                        
    <div class="vip-submit"> 
      <button type="submit" class="btn">Update</button>   
        <!-- <select class="btn">
          
          <option selected>Submit as Open</option>
          <option>Submit as Pending</option>
          <option>Submit as Solved</option>
        </select> -->
    </div>
     
    </div>
      
                                </div>
                            </div>
                         
    </form>
                  
              <!--  </div> end main content-->
     
    
     </div><!-- end page wrapper-->