<div class="wrapper">
  <app-header></app-header>
  <div class="page-wrapper">
    <div class="container-fluid">

      <div>
        <h2 class="page-title">User Profile</h2>
      </div>

      <div class="body-content">

        <div class="row">

          <div class="col-md-6">
            <div class="form-group">
              <img style="max-height: 200px; "
                src="https://res.cloudinary.com/dd6qjvp5s/image/upload/v1536229190/Outwork%20Site%20Images/sea-3652697_640.jpg"
                class="rounded" alt="Company Image">
            </div>
            <div class="form-group">
              <label class="col-md-3">User Name :</label>
              <span class="col-md-9">{{userInfo?.name}}</span>
            </div>
            <div class="form-group">
              <label class="col-md-3">Email Address :</label>
              <span class="col-md-9">{{userInfo?.email}}</span>
            </div>
            <div class="form-group">
              <label class="col-md-3">Role :</label>
              <span class="col-md-9">{{userInfo?.role}}</span>
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-sm emailConfig"
                [title]="disableButton?'EmailConfigured':'Configure Email'" [disabled]="disableButton">
                <a href="{{baseUrl}}" [style.pointer-events]="disableButton?'none':'auto'">Configure Gmail</a>
              </button>
            </div>

          </div>

        </div>


      </div>
    </div>
  </div>
</div>
