<app-header></app-header>

<div class="page-wrapper">
    <div class="row" style="margin: 20px 0px 0px;">
        <div class="col-md-10 d-flex">
            <h4 class="page-title">Issues</h4>
            <select class="select-filter" (change)="onChange($event.target.value)">
                <option>All</option>
                <option>Today</option>
                <option>This Week</option>
                <option>Next Week</option>
                <option>Over Due</option>
            </select>
        </div>

        <div class="col-md-2">
            <div class="pull-right">
                <a routerLink="/add-issue" class="add-btn btn-sm">New</a>

            </div>
        </div>

    </div>


    <div class="main-content">
        <div class="card">
            <div class="card-body">
                <table datatable [dtOptions]="dtOptions" class="table issues-table table-hover"  *ngIf="this.temp">
                    <thead class="thead-light">
                        <tr>
                            <th>Subject</th>
                            <th>Requestor</th>
                            <th>Category</th>
                            <th>Status</th>
                            <th>Priority</th>
                            <th>Channel</th>
                            <th>Created On</th>
                            <th style="text-align: center;">Actions</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="issuesList?.length != 0">
                        <tr *ngFor="let issue of issuesList">
                            <td><a (click)="editIssue(issue)" class="issue-title">{{issue.Title}}</a></td>

                            <td>{{issue.RequestorName}}</td>
                            <td>
                                <ng-container [ngSwitch]="true">
                                    <span *ngSwitchCase="issue.CategoryIntId =='1'">
                                        Hardware
                                    </span>
                                    <span *ngSwitchCase="issue.CategoryIntId =='2'">
                                        Software
                                    </span>
                                    <span *ngSwitchCase="issue.CategoryIntId =='3'">
                                        Performance
                                    </span>
                                    <span *ngSwitchCase="issue.CategoryIntId =='4'">
                                        Laptop
                                    </span>
                                    <span *ngSwitchCase="issue.CategoryIntId =='5'">
                                        Desktop
                                    </span>
                                    <span *ngSwitchCase="issue.CategoryIntId =='6'">
                                        Monitor
                                    </span>
                                    <span *ngSwitchCase="issue.CategoryIntId =='7'">
                                        Execution
                                    </span>
                                    <span *ngSwitchCase="issue.CategoryIntId =='8'">
                                        Wifi
                                    </span>
                                    <span *ngSwitchCase="issue.CategoryIntId =='9'">
                                        TroubleShooting
                                    </span>
                                    <span *ngSwitchCase="issue.CategoryIntId =='10'">
                                        License
                                    </span>
                                    <span *ngSwitchDefault>
                                     Others
                                    </span>
                                  </ng-container>
                              
                            </td>
                            <td>{{issue.IssueStatus}}</td>
                            <td><span class="badge badge-soft-success font-size-11 m-1">{{issue.Priority}}</span></td>
                            <td>{{issue.Source}}</td>
                            <td>{{ issue.CreatedDate * 1000  | date:"yyyy/MM/dd"}}  </td>
                            <td class="actions"><a (click)="editIssue(issue)"><i class="icon-eye"></i></a>
                                 <!-- <a  href="/delete-issue/{{issue.Id}}"><i class="icon-trash"></i></a>  -->
                            </td>
                        </tr>


                    </tbody>
                   
                </table>

                <div *ngIf="!this.temp">
                <table datatable [dtOptions]="dtOptions" class="table issues-table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>Subject</th>
                            <th>Requestor</th>
                            <th>Category</th>
                            <th>Status</th>
                            <th>Priority</th>
                            <th>Channel</th>
                            <th>Created On</th>
                            <th style="text-align: center;">Actions</th>
                        </tr>
                    </thead>
                </table>
                </div>


            </div>
        </div>
    </div><!-- end main content-->


</div><!-- end page wrapper-->