body {
  color: #495057;
  font-family: 'Inter', sans-serif;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.5; 
  margin: 0;
}

a {
color: #5951ff;
text-decoration: none;
}

.main-content{padding:20px 15px;}

.f-right{float: right;}
.pull-right {float: right;}
.mr-0{margin-right: 0px;}
.mb-15{margin-bottom: 15px;}
.p-10{padding: 10px;}
.btn:focus {box-shadow: none !important;}




/* navbar */
.navbar {
padding: 0px 10px !important;
background-color: #fff;
height: 50px;
border-bottom: 1px solid rgb(233, 235, 237);
}

.navbar-brand {
width: 125px;
}


/* left sidebar menu */


.fixed-sidebar-left {
position: fixed;
top: 50px;
left: 0px;
width: 70px;
margin-left: 0;
bottom: 0;
z-index: 10;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
transition: all 0.5s ease;
}


.expand.fixed-sidebar-left {
margin-left: 0px;
width: 225px;
}

.expand.fixed-sidebar-left .menu-title {
width: 100% !important;
margin-top: 12px;
}

.expand.fixed-sidebar-left .menu-title {
display: block;
background-color: #f7f7f9;
color: #000;
min-width: unset;
top: 5px;
max-width: 100px;

-webkit-animation: fadeInFromNone 0.5s ease-out;
-moz-animation: fadeInFromNone 0.5s ease-out;
-o-animation: fadeInFromNone 0.5s ease-out;
animation: fadeInFromNone 0.5s ease-out;
}
@-webkit-keyframes fadeInFromNone {
0% {
    display: none;
    opacity: 0;
}

1% {
    display: block;
    opacity: 0;
}

100% {
    display: block;
    opacity: 1;
}
}

@-moz-keyframes fadeInFromNone {
0% {
    display: none;
    opacity: 0;
}

1% {
    display: block;
    opacity: 0;
}

100% {
    display: block;
    opacity: 1;
}
}

@-o-keyframes fadeInFromNone {
0% {
    display: none;
    opacity: 0;
}

1% {
    display: block;
    opacity: 0;
}

100% {
    display: block;
    opacity: 1;
}
}

@keyframes fadeInFromNone {
0% {
    display: none;
    opacity: 0;
}

1% {
    display: block;
    opacity: 0;
}

100% {
    display: block;
    opacity: 1;
}
}
.expand.fixed-sidebar-left .menu-title:before {
display: none;
}

.expand.fixed-sidebar-left .side-nav li a.active {
background-color: #e0e7ff;
}

.expand.fixed-sidebar-left .side-nav li a.active .menu-title {
background-color: #e0e7ff;
}


.expand.fixed-sidebar-left .pull-right {
display: block;
}

.expand.page-wrapper {
margin-left: 225px;
}

span.toggle-left-nav-btn {
color: #5c5c5c;
position: relative;
line-height: 59px;
margin-right: 30px;
margin-left: 15px;
}

span.toggle-left-nav-btn i {
font-size: 18px;
vertical-align: middle;
color: #fff;
cursor: pointer;
}

.menu-title,
.fixed-sidebar-left {
align-self: center;
}

.menu-title {
padding: 6px 10px;
background-color: #13a0db;
min-width: 110px;
margin-left: 0px;
color: #fff;
display: none;
position: absolute;
left: 70px;
top: 15px;
font-weight: 600;
-webkit-animation: fadeOutFromBlock 0.5s ease-out;
-moz-animation: fadeOutFromBlock 0.5s ease-out;
-o-animation: fadeOutFromBlock 0.5s ease-out;
animation: fadeOutFromBlock 0.5s ease-out;
}

.menu-title:before {
content: '';
width: 0;
height: 0;
border-top: 8px solid transparent;
border-bottom: 8px solid transparent;
border-right: 8px solid #13a0db;
border-left: 8px solid transparent;
position: absolute;
display: inline-block;
left: -15px;
}

.side-nav li a:hover .menu-title {
display: block;
/* top: 15px; */
transition: top 400ms ease 0s;
}
.side-nav {
border: none;
height: 100%;
width: 100%;
position: relative;
border-radius: 0;
margin: 0;
border-right: 1px solid #e5e5e5;
background-color: #222;
min-height: 500px;
}

.side-nav li a {
color: #212121;
text-decoration: none;
display: inline-block;
width: 100%;
position: relative;
}

.side-nav li a:hover {
/* background-color: #e0e7ff; */
color: #13a0db;
}

.side-nav li a:hover i {
color: #13a0db;
}

.side-nav li a i {
font-size: 22px;
color: #c3c3c3;
padding: 20px;
width: 70px;
text-align: center;
line-height: 2.5em;
}

.side-nav li a i:hover {
color: #13a0db;
}



.side-nav li:first-child a.active {
border-right: 0px;
}

.side-nav li a.active i {
color: #c3c3c3;
}

.side-nav li:hover a {
color: #13a0db;
}

.side-nav li.active a {
color: #f174bf;

}

.side-nav li ul li a {
color: #212121 !important;
}

.side-nav li ul li a i {
font-size: 18px !important;
padding-top: 0px;
}

.side-nav li ul li:hover a,
.side-nav li ul li a:hover {
color: #13a0db !important;
}



.dropdown-toggle::after{display: none;}
.dropdown-menu {padding: 15px 0; box-shadow: 0 4px 24px 0 rgba(62, 57, 107, 0.18); border: none; border-radius: 2px; }

.pc-h-dropdown{padding: 10px 0px;}
.dropdown .dropdown-item {padding: 10px 25px;}
.dropdown-item:hover, .dropdown-item:focus {color: #7267EF; text-decoration: none; background-color: #f4f3fe;}

.pc-header .pc-head-link.active, .pc-header .pc-head-link:active, .pc-header .pc-head-link:focus, .pc-header .pc-head-link:hover {
  text-decoration: none; color: #7267EF; background: #e8e7fc; }
.pc-header .pc-head-link { color: #1c232f; display: inline-flex; align-items: center; padding: 0.60rem 0.9rem; margin: 0 5px; border-radius: 4px; position: relative; font-weight: 500; }
.pc-header .pc-h-item { display: flex; align-items: center; position: relative; }
.pc-header .pc-h-item a{text-decoration: none;font-size: 14px;}
.pc-header .pc-h-item a i{margin-right:5px;}
.pc-header .pc-h-item a:last-child{cursor: pointer;}
.pc-header .pc-head-link .user-name { font-size: 15px; font-weight: 600; margin-bottom: 5px; }
.pc-header .pc-head-link .user-desc, .pc-header .pc-head-link .user-name { display: block; line-height: 1; }
.pc-header .pc-head-link .user-desc { font-size: 12px; font-weight: 400; color: rgba(28, 35, 47, 0.7); }





/* page wrapper */

.page-wrapper {
margin-left: 70px;
padding: 50px 0px 0px;
background:#f8f9f9;
position: relative;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
transition: all 0.5s ease;
left: 0;
min-height: calc(100vh);
}

.body-content {
background-color: #fff;
padding: 15px 25px;
border-radius: 10px;
box-shadow: 2px 0 10px 0 rgba(8, 59, 111, .05);
min-height: calc(100vh - 150px);
margin-bottom: 30px
}

/* 
header .pane .btn {
  height: 28px;
  background-color: #F8F9F9;
  border: 1px solid #D8DCDE;
  box-shadow: none;
  box-sizing: border-box;
  padding: 4px 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}
*/


/* View Issues Page*/

.vip-title-info h4 {font-size: 14px;font-weight: 600;margin-top:8px;}
.vip-title-info h4 a {text-decoration: none;}
.vip-title-info .account-title{padding:5px 0px;}

.vip-left-block{border-top:1px solid #ddd;border-right: 1px solid #ddd;}
.vip-left-info{height:100%;min-height: calc(100vh - 95px);max-height: calc(100vh - 95px);overflow-y: auto;}

.vip-left-info .contact-det {padding:15px;border-bottom: 1px solid #ddd;}
.vip-left-info .contact-det .control-group{margin-bottom: 15px;}
.vip-left-info .contact-det .title{font-size: 12px;font-weight: 500;color:#222;}
.vip-left-info .contact-det .form-control{height: 30px;font-size: 12px;cursor: pointer;}
.vip-left-info .contact-det  .form-control[readonly] {background-color: #ffffff;opacity: 1;cursor: default;}
.vip-left-info .contact-det  .form-control[readonly]:focus {box-shadow: none !important;border-color: #ddd;}

.vip-right-block{border-top:1px solid #ddd;background-color: #fff;}
.vip-right-info{ position: relative; min-height: calc(100% - 50px);max-height: calc(100% - 50px);height: -moz-calc(100% - 50px);
  height: -webkit-calc(100% - 50px);height: calc(100% - 50px);overflow-y: auto;border-bottom: 1px solid #ddd;}

.vip-right-info .block{padding:10px 0px;border-top:1px solid #ddd;}
.vip-right-info .block:first-child{padding:30px 0px;border-top:0px;}
.vip-right-info .block:first-child p{margin-bottom:0px;}
.vip-right-info .block h4.title{font-size: 16px;font-weight: 600;color: #000;}
.vip-right-info .block h6.title{font-size: 13px;margin-top: 10px;font-weight: 600;}
.vip-right-info .block h6.title span{float: right;font-size: 11px;font-weight: 400;}

.block-desc-area{width:100%;font-size:13px;background-color: #FFF6D9;border:1px solid #EFDAA3;border-radius: 5px;resize: none;}
.block-desc-area:focus{box-shadow: none;outline:0px;}

.vip-submit{bottom: 0px;height: 50px; 
 
  padding: 10px 0px 10px 80px;
  padding-right: 30px;
  background-color: #fff;
  position: fixed;
}
.vip-submit select.btn,.vip-submit .btn{background-color: #2f3941;color: #fff;font-size: 14px;}    
/* -------------*/



.font-size-11 {font-size: 11px!important;}

.add-btn{color: #13a0db!important;background-color: #fff;border:1px solid #13a0db;padding:5px 10px;}
.add-btn:hover,.add-btn:active,.add-btn:focus{color: #fff!important;background: linear-gradient(to right, rgba(121, 204, 239, 1) 0%, rgba(19, 160, 219, 1) 100%);border-color: #0089ff;text-decoration: none;}

.modal-title{font-size: 16px;font-weight: 600;}
.save-btn{background: linear-gradient(to right, rgba(19, 160, 219, 1) 0%, rgba(121, 204, 239, 1) 100%);border-color: #0089ff;}

.save-btn:hover{background: linear-gradient(to right, rgba(121, 204, 239, 1) 0%, rgba(19, 160, 219, 1) 100%);border-color: #0089ff;}

.btn:focus,.btn:active,.btn:visited{box-shadow: none!important;border:0px;}
.select-filter,.select-filter:active,.select-filter:focus,.select-filter:visited{border:0px!important;outline:0px;margin-left: 26px;}


.form-control-text {
  height: 45px;
  line-height: 45px;
  background: #f5f6fa;
  border: 0px solid #d7dbda;
  font-size: 14px;
  color: #777D74;
}
.form-control-textarea {
  background: #e9edf4;
  border: 0px solid #d7dbda;
  font-size: 14px;
  color: #777D74;
}
.page-title{    font-size: 18px;
  font-weight: 600;}

  
.page-menu-links{list-style: none;}
.page-menu-links li{display: inline; }
.page-menu-links li a{border-right: 1px solid #ccc;padding:0px 10px;color:#222;}
.page-menu-links li a.active{color:blue;}
.page-menu-links li:last-child a{border-right: 0px;}

.page-item.active .page-link {
  color: #13a0db;
  background-color: #fff;
  border-color: #007bff;
  box-shadow: none;
}

.table .thead-light th {
  color: #495057;
  background-color: #f8f9fa;
  border-color: #eff2f7;
}
.table th {
  font-weight: 600;
}
.table-hover tbody tr:hover {
  color: #495057;
  background-color: #f8f9fa;
}
.table td{padding: .5rem 1rem!important;vertical-align: middle;color:#293240;font-weight: 400;}

.issues-table td a.issue-title{font-weight: 600;color: #5951ff;cursor:pointer;}
.issues-table td a.issue-title:hover{text-decoration: underline;}
.badge-soft-primary[href]:focus, .badge-soft-primary[href]:hover {
  color: #556ee6;
  text-decoration: none;
  background-color: rgba(85,110,230,.4);
}
.badge-soft-primary {
  color: #556ee6;
  background-color: rgba(85,110,230,.18);
  font-weight: 500;
}
.badge-soft-success {
  color: #57c15a;
  background-color: rgb(212 255 222);
  font-weight: 500;
  font-size: 11px;
}
.badge-soft-danger {
  color: #ef0c41;
  background-color: rgb(226 19 86 / 18%);
  font-weight: 500;
  font-size: 11px;
}

.actions{text-align: center;}
.actions a{color:#222;margin-right:15px;text-decoration: none;cursor: pointer;}
.actions a:hover{color:#0089ff;}
.actions a:last-child{margin-right: 0px;}


/* contact Page*/
.contacts-table td a{font-weight: 600;}


.vp-top-info{border-radius: 10px;box-shadow: 2px 0 10px 0 rgba(8, 59, 111, .05);border:0px;margin-bottom:10px;}
.vp-top-info .title-info{padding: 10px;border-bottom: 1px solid #f5f5f5;background: #e6e7ff!important;border-top-left-radius: 10px;border-top-right-radius: 10px;}
.vp-top-info .title-info h4{font-size: 14px;font-weight: 600;}
.vp-top-info .title-info h6{margin-bottom: 0px;}
.vp-top-info .title-info .account-title h4 a{text-decoration: none;}
.vp-top-info .title-info .btn{border: 1px solid #ddd;color: #566fc9;font-size: 12px;margin-top: 5px;background: #fff;border-radius: 5px;font-weight: 500;}

.vp-top-info .details{padding: 10px 0px 0px 0px;}
.vp-top-info .details h4{font-size:12px;color:#888;}
.vp-top-info .details p {font-size:14px;}
.vp-top-info .details  i{color:#566fc9;font-size: 14px;}
.vp-top-info .details .details-info a{text-decoration: none;}


.vp-left-info{padding: 0px;}
.vp-desc .card{border-radius: 10px;box-shadow: 2px 0 10px 0 rgba(8, 59, 111, .05);border:0px;padding: 10px;}
.vp-vp-left-info .card ul{padding-left:0px;}
.vp-left-info .card .contact-det h4{font-size:16px;margin: 10px 15px 20px 15px;line-height: 15px;}
.vp-left-info .card .contact-det h6{color: #888;list-style: none;font-size:12px;margin-bottom: 5px;}
.vp-left-info .card .contact-det p{color: #222;font-size:14px;margin-bottom: 20px;}


.vp-top-info .issue-title-info{border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;background: #fff!important;}
.vp-top-info .issue-title-info h6{font-weight: 600;}


.grid-settings { list-style: none; padding-left: 0; border-bottom: 1px solid #e0e7ff;}
.grid-settings .nav-tabs { border-bottom: 0px;}
.contact-details .card .nav-tabs .nav-link { color: #444; }
.grid-settings .nav-tabs .nav-item.show .nav-link, .grid-settings .nav-tabs .nav-link.active { color: #13a0db; background-color: #e6e7ff; border-color: #dee2e6 #dee2e6 #e0e7ff; font-weight: 500; }


.vp-tab-list{min-height: 460px;}
.vp-tab-info .header h5{font-size:16px;}
.title-fs{font-size: 14px;}


.dataTables_length select{border:1px solid #ddd;padding:5px 10px;}
.dataTables_filter input{border:1px solid #ddd;padding:5px;}
.dataTables_filter input:focus{border:1px solid #ddd;outline:0px;}
table.dataTable.no-footer{border-bottom: 1px solid #ddd!important;}
.dataTables_wrapper .dataTables_paginate .paginate_button.current{color: #13a0db !important;
  border: 1px solid #13a0db;
  background-color: white;background:none;}

  
.modal-backdrop.show {
  background-color: #fff;
  opacity: 0.75;
}
.modal {
   text-align: center;
   padding: 0 !important;
}
.modal:before {
   content: '';
   display: inline-block;
   height: 100%;
   vertical-align: middle;
   margin-right: -4px;
}
.modal-dialog {
   display: inline-block;
   text-align: left;
   vertical-align: middle;
}
.modal-content{border:1px solid #ddd;box-shadow: -4px 4px 9px 2px #a8acaf55;}