
    <div class="my-login-page">
      <section class="h-100">
        <div class="container h-100">
          <div class="row justify-content-md-center h-100">
            <div class="card-wrapper">
              <div class="brand">
                <img src="assets/img/logo.png" alt="logo">
              </div>
              
              <div class="card fat">
                <div class="card-body">
                   
                  <h4 class="card-title">Register with us</h4>
                  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>First Name</label>
                          <input type="text" formControlName="firstName" class="form-control" placeholder=""
                            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">First Name is required</div>
                            
                          </div>
                        
                         
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Login Id</label>
                          <input type="text" formControlName="loginId" class="form-control" placeholder="" [ngClass]="{ 'is-invalid': submitted && f.loginId.errors }"/>
                          <div *ngIf="submitted && f.loginId.errors" class="invalid-feedback">
                            <div *ngIf="f.loginId.errors.required">Login ID is required</div>
                            <div *ngIf="f.loginId.errors.pattern">Please Enter Valid Login ID</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <!-- <div class="col-sm-6">
                        <div class="form-group">
                          <label>Username (EmailId)</label>
                          <input type="text" formControlName="loginId" class="form-control" placeholder=""
                            [ngClass]="{ 'is-invalid': submitted && f.loginId.errors }" />
                          <div *ngIf="submitted && f.loginId.errors" class="invalid-feedback">
                            <div *ngIf="f.loginId.errors.required">User name is required</div>
                            <div *ngIf="f.loginId.errors.email">User name must be a valid email address</div>
                          </div>
                        </div>
                      </div> -->
                      <!-- <div class="col-sm-6">
                        <div class="form-group">
                          <label>Email</label>
                          <input type="email" name="" class="form-control" formControlName="Email" placeholder=""
                            [ngClass]="{ 'is-invalid': submitted && f.Email.errors }" required>
                          <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                            <div *ngIf="f.Email.errors.required">Email is required</div>
                            <div *ngIf="f.Email.errors.email">Email must be a valid email address</div>
                          </div>
                        </div>
                      </div> -->
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Password</label>
                          <input type="password" formControlName="password" class="form-control" placeholder=""
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            
                          </div>
                         
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Organisation Name</label>
                          <input type="text" name="" formControlName="organizationName" class="form-control" placeholder=""
                            [ngClass]="{ 'is-invalid': submitted && f.organizationName.errors }" />
                          <div *ngIf="submitted && f.organizationName.errors" class="invalid-feedback">
                            <div *ngIf="f.organizationName.errors.required">Company Name is required</div>
                          
                          </div>
                       
                         
                        </div>
                      </div>
                    </div>
                    <!-- <div class="row">
                     
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Phone</label>
                          <input type="text" name="" (keypress)="utilities.phoneNumberValidator($event)" minlength=10 maxlength=20
                           class="form-control" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="form-group">
                          <label>Company Name</label>
                          <input type="text" name="" formControlName="companyName" class="form-control" placeholder=""
                            [ngClass]="{ 'is-invalid': submitted && f.companyName.errors }" />
                          <div *ngIf="submitted && f.companyName.errors" class="invalid-feedback">
                            <div *ngIf="f.companyName.errors.required">Company Name is required</div>
                          </div>
                        </div>
                      </div>
                    </div> -->
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <button [disabled]="loading" class="btn btn-primary btn-block">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Create Account</button>
                          <!-- <button class="btn btn-primary  btn-block">Create Account</button> -->
                        </div>
                      </div>
                    </div>

                  </form>
            
                  <div class="text-center">
                    <p class="signup_text">Already have an account with us? <a routerLink="/login">Sign In</a></p>
                  </div>
              

                  

                              <div class="row"  *ngIf="showMsg">
                                <div class="col-md-12">
                                  <p class="alert alert-success text-center">
                                      <strong>Registration Success!</strong>
                        
                                  </p>
                                </div>
                              </div>
                </div>
              </div>
              <div class="footer">
                
                Copyright &copy; 2020 &mdash; helpit.ai 
              </div>
            </div>
          </div>
        </div>
      </section>
      </div>