.my-login-page {
	background-color: #ffffff;
	font-size: 14px;
}

.my-login-page .brand{
	text-align: center;
	margin: 20px;
}
 
.my-login-page .card-wrapper {
	width: 500px;
	margin-top: 100px;
}

.my-login-page .card {
	border-color: transparent;
	box-shadow: 0 3px 6px 7px rgba(0,0,0,.05);
}

.my-login-page .card.fat {
	padding: 10px;
}

.my-login-page .card .card-title {
	margin-bottom: 30px;
}

.my-login-page .form-control {
	border-width: 2.3px;
}

.my-login-page .form-group label {
	width: 100%;
}

.my-login-page .btn.btn-block {
	padding: 12px 10px;
}

.my-login-page .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}

@media screen and (max-width: 425px) {
	.my-login-page .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.my-login-page .card.fat {
		padding: 0;
	}

	.my-login-page .card.fat .card-body {
		padding: 15px;
	}
}

.btn{background-color: #13a0db;}